.popup-main {
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 10;
}
.popup-box {
	position: Fixed;	
	width: 500px;
	height: 300px;
	top: 10%;
	right: calc(50% - 250px);
	background-color: #ccc;
}
.popup-close {
	content: " ";
    background: url(../img/sprite.png) no-repeat -242px -3px;
    width: 36px;
    height: 33px;
    position: absolute;
    top: -8px;
    right: -10px;
}
.popup-box.close {
	display: none;
}
.popup-box .open{
	display: block;
}